<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NOTION_INTEGRATION_TOKEN</key>
	<string>your_notion_integration_token</string>
	<key>NOTION_DATABASE_ID</key>
	<string>your_notion_database_id</string>
</dict>
</plist>
